diff.gdx
gsd*.gdx
*_p.gdx
gdld.gdx
gtapSUTV*.gdx
set_para_ent.*
post-sam.*
SAM_*.gdx
$gms*.par
**.$$$
sr2**.*
**.*zip
**.gsp
**.BACKUP
**.bak
**.dat
**.dmp
!jre-8.0.212.03-hotspot/**/**.dat
search
**.exp
**.g00
**.gch
**.gmp
**.gpr
**.log
**.log**
**.lst
**.lxi
**.orig
**.put
**.ref
**.tmp
~*.xlsx
**.~??
**.~gm
**.~in
225*/**
gui/default.ini
gui/generated.xml
gui/manage.ini
gui/xml/*.xml
bau_**.gms
con
result.csv
untitled*.gms
~*?.xlsm
inc/gui.gms
gui/generated.xml
fromGuiToRun.gms
loadGtap_inc.gms
htmlDoc/**/*.*
htmlDoc/*.*
res/*/*.csv
res/*/*.xlsx
res/*
html/*
!res/.gitignore
inc/~*.inc
*.~log
~$*.gms
gui/batch.html
test.gms
run.gdx
debug.gdx
addData*.gdx
gams*.gdx
*.*xlk
*/*.*xlk
dat/debtData.xlsx
dat/gtapData11*.*
dat/gtapData10*.*
dat/gtapData12*.*
gui/testGTAP.txt
!aez.zip
lhsInput.txt
settings_*.inc
inc/model_def_copy.inc
